# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
*.egg-info/
.ipynb_checkpoints/
# Results / caches
results/*.npy
results/*.csv
results/run_meta.json
figures/*.png
# Mac
.DS_Store
# VS Code
.vscode/*
!.vscode/settings.json
